body {
  font-family: 'PlusJakartaSans-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PlusJakartaSans-ExtraBold', sans-serif;
  font-weight: 500;
}

/* Navbar */
.navbar, .nav {
  .nav-link {
    font-weight: 700;
    border: 0 !important;
    border-bottom: 5px solid $orange !important;

    &.active,
    &:hover {
      border-bottom-color: $orange !important;
    }
  }
}

.secondary-navigation {
  .navigation {
    border-bottom: 0 !important;

    ul {
      border-bottom: 1px solid $gray-400 !important;
    }

    .nav-item {
      .nav-link {
        color: $body-color;
      }
    }
  }
}

/* Page context header */
.page-context-header {
  .page-header-image {
    align-self: start;
  }

  .page-header-headings {
    line-height: 2.65rem;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &::after {
      background-color: $primary;
      content: "";
      display: block;
      width: 80px;
      height: 12px;
      align-self: start;
      margin-bottom: 30px;
    }
  }
}

body.path-mod {
  .page-context-header {
    .page-header-headings {
      &::after {
        margin-bottom: 0px;
      }
    }
  }
}

/* Course index */
.section-item {
  padding: 0rem !important;
  border-radius: 0 !important;
  border: none !important;

  .course-section-header {
    background-color: $secondary;
    padding: 1rem;

    .sectionname {
      a {
        color: $body-color !important;
        font-weight: 700;
      }
    }

    .btn-icon {
      background-color: white;
      color: $orange;
    }
  }

  .course-content-item-content {
    padding: 1rem;
    border: 1px solid $border-color;
    border-top: none;
  }
}

/* Single section page */
.single-section-page {
  .course-section-header {
    background-color: transparent;
  }
}

/* Activity */
.activityname {
  a {
    color: $body-color !important;
    font-weight: 700;
  }
}

/* Coursebox */
.coursebox {
  @include course-box;
}

/* Course card */
.card.course-card {
  @include course-box;
}
